.register-page
  .top-logo
    = image_tag "mercari_logo_horizontal.png", size: "300x90", alt: "logo"
    .progress-bar
      .first-phase
        .first-phase__status 会員情報
        .first-phase__location{align:"center"} ●
        .for_exchange-first
      .second-phase
        .second-phase__status 電話番号認証
        .second-phase__location{align:"center"} ●
        .for_exchange-second
      .third-phase
        .third-phase__status お届け先住所入力
        .third-phase__location{align:"center"} ●
        .for_exchange-third
      .forth-phase
        .forth-phase__status 支払い方法
        .forth-phase__location{align:"center"} ●
        .for_exchange-forth
      .last-phase
        .last-phase__status 完了
        .last-phase__location{align:"center"} ●
        .for_exchange-last
  .box  
    .contents
        = render partial: "navi"
      .form-area
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| 
          = render "devise/shared/error_messages", resource: resource 
          = render partial: "form"
    = render partial: "info"