.side-bar__box
  :ruby
    first_pages =[{
      Name:"マイページ", url:users_path
    },{
      Name:"お知らせ", url:"#"
    },{
      Name:"やることリスト", url:"#"
    },{
      Name:"いいね！一覧", url:"#"
    },{
      Name:"出品する", url: new_item_path
    },{
      Name:"出品した商品 - 出品中", url: posting_item_user_path(current_user.id)
    },{
      Name:"出品した商品 - 売却済み", url:sold_item_user_path(current_user.id)
    },{
      Name:"購入した商品 - 過去の取引", url:buyed_item_user_path(current_user.id)
    },{
      Name:"ニュース一覧", url:"#"
    },{
      Name:"評価一覧", url:"#"
    },{
      Name:"ガイド", url:"#"
    },{
      Name:"お問い合わせ", url:"#"
    }]

  - first_pages.each do |page|
    =link_to page[:url], class: "side-bar__left" do
      .side-bar
        #{page[:Name]}
        = fa_icon 'chevron-right', class: "side-bar__right"

  :ruby
    second_pages =[{
      Name:"売上・振込申請", url:"#"
    },{
      Name:"ポイント", url:"#"
    }]

  .side-title メルペイ
  - second_pages.each do |page|
    =link_to "https://www.facebook.com/", class: "side-bar__left" do
      .side-bar
        #{page[:Name]}
        = fa_icon 'chevron-right', class: "side-bar__right"

  :ruby
    third_pages =[{
      Name:"プロフィール", url: profile_path
    },{
      Name:"発送元・お届け先住所変更", url:address_path
    },{
      Name:"支払い方法", url:pay_way_path
    },{
      Name:"本人情報", url:address_path
    },{
      Name:"ログアウト", url:logout_users_path
    }]

  .side-title 設定
  - third_pages.each do |page|
    =link_to page[:url], class: "side-bar__left" do
      .side-bar
        #{page[:Name]}
        = fa_icon 'chevron-right', class: "side-bar__right"
