.login-page
  .box
    .top-logo{align:"center"}
      = image_tag "mercari_logo_horizontal.png", size: "300x90", alt: "logo"
    .contents
      .user-new
        .user-new__message{align:"center"} アカウントをお持ちでない方はこちら
        .user-new__btn{align:"center"} 新規会員登録
      .login-btns
        .facebook 
          = link_to user_facebook_omniauth_authorize_path, class: "facebook__link" do
            .facebook__link__logo
              = fa_icon 'facebook-square', class: "icon"
            .facebook__link__message Facebookでログイン
        .gogle 
          = link_to user_google_oauth2_omniauth_authorize_path, class: "gogle__link" do
            .gogle__link__logo
              = image_tag "google-logo.jpg", size: "40x40", alt: "logo"
            .gogle__link__message Googleでログイン  
      .inputs
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-field
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " メールアドレス"        
            %br/
            = f.password_field :password, autocomplete: "current-password", placeholder: " パスワード"
            %br/
            = flash[:recaptcha_error]
            = recaptcha_tags
            = f.submit "ログイン", class: "login-btn"
            =link_to "https://www.facebook.com/", class: "" do
              メールアドレスをお忘れの方

        .forget-pass
    .info
      %ul.complaiance
        %li.complaiance__urls
          %a{ href: "#"} プライバシーポリシー
        %li.complaiance__urls
          %a{ href: "#"} メルカリ利用規約
        %li.complaiance__urls
          %a{ href: "#"} 特定商取引に関する表記
      .bottom-logo{align:"center"}
        = image_tag "mercari_logo_vertical.png", size: "120x120", alt: "logo"
      .copy-right{align:"center"} © 2019 Mercari



