.item-button
  .evaluation
    %button.evaluation--likes
      = fa_icon 'heart', class: 'heart'
      %span いいね！
      = @goods
    %button.evaluation--improper
      = fa_icon 'flag', class:'far fa-flag'
      %span 不適切な商品の報告
  %button.safety
    =link_to "https://www.mercari.com/jp/",class:"btn" do
      = fa_icon 'lock',class:'lock'
      = "あんしん・あんぜんへの取り組み"
    送料込み