- @items.each do |item|
  .item-box
    = link_to item_path(item) do
      .item-box__photo
        - item.images.each do |image|
          = image_tag image.image.url,class: 'item-box__photo'
          - if item.status == "sold_item"
            .item-box__badge
              .item-box__badge__word
                sold
          - if item.status == "pause_item"
            .item-box__badge--gray
              .item-box__badge--gray__word
                公開停止中
      .item-box__text
        .item-box__text__name 
          = "#{item.name}"
        .item-box__text__num
          .item-box__text__num--price 
            = "#{item.price}"+"円"
          .item-box__text__num--like 
            =fa_icon "heart-o", class: 'icon'