:ruby
  ladies=[
    {text:"値段は安いです。",price:400,image_url:'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031',good:4},
    {text:"値段は高いです。",price:4000,image_url:'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031',good:9},
    {text:"服装を考えます。これから秋頃に涼しくなるのでこういう服装は季節感に合っているかと思います。",price:750,image_url:'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031',good:4},
    {text:"綺麗になりたい",price:800,image_url:'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031',good:2},    
  ] 

-# - ladies.each do |lady|
-#   .item-box
-#     = link_to "#" do
-#       .item-box__photo
-#         = image_tag "#{lady[:image_url]}", alt: '', height: '', width: '', class: 'item-box__photo'
-#       .item-box__text
-#         .item-box__text__name 
-#           = "#{lady[:text]}"
-#         .item-box__text__num
-#           .item-box__text__num--price 
-#             = "#{lady[:price]}"+"円"
-#           .item-box__text__num--like 
-#             =fa_icon "heart-o", class: 'icon'
-#             %span 
-#               ="#{lady[:good]}"

- @items.each do |item|
  .item-box
    = link_to "/users/#{item.seller_id}/items/#{item.id}" do
      .item-box__photo
        -# = image_tag "#{item.images.first.image}", alt: '', height: '', width: '', class: 'item-box__photo'
        -# %img{ src: "#{item.images.first.image.url}" }
        - item.images.each do |image|
          = image_tag image.image.url, alt: '', height: '', width: '', class: 'item-box__photo'
      .item-box__text
        .item-box__text__name 
          = "#{item.name}"
        .item-box__text__num
          .item-box__text__num--price 
            = "#{item.price}"+"円"
          .item-box__text__num--like 
            =fa_icon "heart-o", class: 'icon'