.social-link
  %ul.box
    %li
      = link_to "https://facebook.com/" do
        = fa_icon 'facebook-square', class: 'fab fa-facebook-square fa-fw box__facebook'  
    %li
      = link_to "https://twitter.com/" do
        = fa_icon 'twitter-square', class: 'fab fa-twitter-square fa-fw box__twitter'
    %li
      = link_to "https://www.pinterest.jp/" do
        = fa_icon 'pinterest', class: 'fab fa-pinterest fa-fw box__pinterest'  
