- @items.each do |item|
  .item-box
    = link_to item_path(item) do
      .item-box__photo
        - item.images.each do |image|
          = image_tag image.image.url, alt: '', height: '', width: '', class: 'item-box__photo'
      .item-box__text
        .item-box__text__name 
          = "#{item.name}"
        .item-box__text__num
          .item-box__text__num--price 
            = "#{item.price}"+"円"
          .item-box__text__num--like 
            =fa_icon "heart-o", class: 'icon'