-# 商品出品ページ
.top
  .top-image
    = link_to root_path do
      = image_tag 'mercari_logo_horizontal.png', alt: '', height: '70', width: '200', class: ''
  .top-main
    = form_for @item  do |f|
      = render "layouts/error",model: f.object
      %h1.header.border-bottom 商品の情報を入力
      .images{data:{item:@item.id}}
        .image__title.flex
          .image__title--font 出品画像
          .image__title--btn.need-btn  必須
        .image__text 最大10枚までアップロードできます
        .upload-area
          .image__save-folder.flex
            %ul.image-save-items.flex#target
              - if controller.action_name == "edit"
                - @image.each do |image|
                  %li.image-item{data:{image:image.id}}
                    .image-item__photo
                      = image_tag "#{image.image.url}"
                    .image-item__button--presence 削除
          .image__save-folder.flex
            %ul.image-save-items2.flex
          %label.image__photo{for: "name1"}
            .image__photo--input
              %input{type:"file", id:"name1",multiple: true}
            %span.image__photo--text
              ドラッグ&ドロップ
              %br
              またはクリックしてファイルをアップロード
            - if controller.action_name == "edit"
              = f.fields_for :images do |i| 
                .image__photo--hidden
                  = i.file_field :image, multiple: true
      .item-content.border-bottom
        .item-name
          .item-name__title.flex
            .item-name__title--text 商品名
            .item-name__title--btn.need-btn 必須
          = f.text_field :name,class:"item-name__input",placeholder:"商品名(必須４０文字まで)"
        .item-description
          .item-description__title.flex
            .item-description__title--text 商品の説明
            .item-description__title--btn.need-btn 必須
          =f.text_area :description, class:"item-description__input",size:"10",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .item-detail.border-bottom.flex
        .sub-head 商品の詳細
        .category
          .category__title.flex
            .category__title--text カテゴリー
            .category__title--btn.need-btn 必須
            //親カテゴリ
          .category__select-wrap
            - if controller.action_name == "new"
              .category__select.select-wrap
                =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
                .category__select--list
                  = f.collection_select :category_id,  @category_parent_array,:id,:name,{prompt:"---"},{id:"parent_category"}
            - if controller.action_name == "edit"
              .category__select.select-wrap
                =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
                .category__select--list
                  = f.collection_select :category_id,  @category_parent_array,:id,:name,{prompt:"---",selected:@category.parent.parent.id},{id:"parent_category"}
              .category__select.select-wrap#children_wrapper
                =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
                .category__select--list
                  = f.collection_select :category_id,  @category_children ,:id,:name,{selected:@category.parent.id},{id:"child_category"}
              .category__select.select-wrap#grandchildren_wrapper
                =fa_icon "chevron-down", class: 'icon chevron-select category__select--icon'
                .category__select--list
                  = f.collection_select :category_id,   @category_grandchildren,:id,:name,{prompt:"---",selsected:@category.id},{id:"grandchild_category"}
          .category-size
            .catagory-size__title.flex
              .category-size__title--text サイズ
              .category-size__title--btn.need-btn 必須
            .category-size__select.select-wrap
              =fa_icon "chevron-down", class: 'icon chevron-select category-size__select--icon'
              .category-size__select--list
                = f.collection_select :size_id, @sizes,:id, :size,prompt:"---"
          .category-brand
            .catagory-brand__title.flex
              .category-brand__title--text ブランド
              .category-brand__title--btn.need-btn 任意
            .category-brand__select.select-wrap
              =f.text_field :brand,placeholder:"商品名(必須４０文字まで)",class:"category-brand__select--list"
          .category-condition
            .category__title.flex
              .category-condition__title--text 商品の状態
              .category-condition__title--btn.need-btn 必須
            .category-condition__select.select-wrap
              =fa_icon "chevron-down", class: 'icon chevron-select category-condition__select--icon'
              .category-condition__select--list
                = f.collection_select :condition_id, @conditions,:id, :condition,prompt: "---"
      .item-shipping.border-bottom.flex
        .sub-head 配送について
        .shipping
          .shipping__title--head.flex
            .shipping__title--text 配送料の負担
            .shipping__title--btn.need-btn 必須
          .shipping__select.select-wrap
            =fa_icon "chevron-down", class: 'icon chevron-select category-condition__select--icon'
            .shipping__select--list
              = f.collection_select :shipping_payer_id, @shipping_payers,:id, :payer,prompt: "---"
            //JS で配送料の負担を選択したら出るようにする
          .shipping__title.flex
            .shipping__title--text 配送の方法
            .shipping__title--btn.need-btn 必須
          .shipping__select.select-wrap
            =fa_icon "chevron-down", class: 'icon chevron-select category-condition__select--icon'
            .shipping__select--list
              = f.collection_select :shipping_way_id, @shipping_way,:id, :way,prompt: "---"
          .shipping__title.flex
            .shipping__title--text 発送元の地域
            .shipping__title--btn.need-btn 必須
          .shipping__select.select-wrap
            =fa_icon "chevron-down", class: 'icon chevron-select category-condition__select--icon'
            .shipping__select--list
              = f.collection_select :shipping_address_id, @shipping_address,:id, :city,prompt: "---"
          .shipping__title.flex
            .shipping__title--text 発送までの日数
            .shipping__title--btn.need-btn 必須
          .shipping__select.select-wrap
            =fa_icon "chevron-down", class: 'icon chevron-select category-condition__select--icon'
            .shipping__select--list
              = f.collection_select :shipping_day_id, @shipping_day,:id, :day,prompt: "---"
      .item-price.border-bottom.flex
        .sub-head 販売価格
        .right-wrap
          .price.flex.border-bottom
            .price__title--head.flex
              .price__title--text 価格
              .price__title--btn.need-btn 必須
            .price__select.select-wrap
              = "¥"
              =f.text_field :price, class:"price__select--list", placeholder:"例) 300"
          .price-charge.flex.border-bottom
            .price-charge__title.flex
              .price-charge__title--text 販売手数料(10%)
            .price-charge__result
              = "-"
          .price-benefit.flex
            .price-benefit__title.flex
              .price-benefit__title--text 販売利益
            .price-benefit__result
              = "-"
      .send-item-content
        .description
          禁止されている出品、行為を必ずご確認ください。
          %br またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          また、出品をもちまして加盟店規約に同意したことになります。
          = f.submit "出品する",class:"red-btn item-send",id:"item-send",disable_with: "Save"
          = link_to "users_path" do
            .red-btn.gray もどる
  %section.modalArea
    .modalBg
      .modalWrapper
        .modalContents
          .message 出品が完了しました
          .text 
            %br
            あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
            %br 
            削除する代わりに停止することもできます
        = link_to new_item_path do
          .red-btn--width-free#width60 続けて出品する