-# background white
.main
  .top_banner 
    = image_tag 'bannar_image', height: '390', width: '100%', class: ''
  .pickup-container
    %h2.pickup-head  ピックアップカテゴリー
    .items-wrapper
      %h3.item-header 
        = link_to "#" do
          レディース新着アイテム
      .items-box
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
      .view-all
        = link_to "#" do
          すべての商品を見る
    .items-wrapper
      %h3.item-header 
        = link_to "#" do
          レディース新着アイテム
      .items-box
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
        .item-box
          = link_to "#" do
            .item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m27352383233_1.jpg?1558138031', alt: '', height: '', width: '', class: 'item-box__photo'
            .item-box__text
              .item-box__text__name @item.namedfsfds;]f:asdf;]sdaf:ds;a
              .item-box__text__price @item.price円
      .view-all
        = link_to "#" do
          すべての商品を見る


