.main
  .top_banner
    .banner-main
      .main__visual
        .visual-inner
          .inner-left
            %h2.inner-left__top
              スマホでかんたん
              %br フリマアプリ
            %p.inner-left__middle
              メルカリはスマホカメラからすぐ出品できる
              %br 購入時も安心な独自システムのアプリです
            .inner-left__bottom
              = image_tag 'app-store.svg', height: '50px', width: '170px', class: 'pull-left'
              = image_tag 'google-play.svg', height: '50px', width: '170px', class: 'pull-left'
          = image_tag 'main_content_pc.png',height: '390px', width: '390px', class: 'inner-right'
    .banner-main
      .main__visual__camp
        = image_tag 'banner-camp.jpg', height: '390', width: 'auto', class: 'second-image'
  .pickup-container
    %h2.pickup-head
      カテゴリーピックアップ
      .items-wrapper
        %h3.item-header  レディース新着アイテム
        .items-box
          = render partial: 'item',collection: @category_ladies,as: "item"
        .view-all
          = link_to "#" do
            = "すべての商品を見る"
      .items-wrapper
        %h3.item-header  メンズ新着アイテム
        .items-box
          = render partial: 'item',collection: @category_mens,as: "item"
        .view-all
          = link_to "#" do
            = "すべての商品を見る"
      .items-wrapper
        %h3.item-header  ベビー・キッズ 新着アイテム
        .items-box
          = render partial: 'item',collection: @category_babies,as: "item"
        .view-all
          = link_to "#" do
            = "すべての商品を見る"
      .items-wrapper
        %h3.item-header  コスメ・香水・美容 新着アイテム
        .items-box
          = render partial: 'item',collection: @category_cosmes,as: "item"
        .view-all
          = link_to "#" do
            = "すべての商品を見る"