.main
  .top_banner
    .banner-main
      .main__visual
        .visual-inner
          .inner-left
            %h2.inner-left__top
              スマホでかんたん
              %br フリマアプリ
            %p.inner-left__middle
              メルカリはスマホカメラからすぐ出品できる
              %br 購入時も安心な独自システムのアプリです
            .inner-left__bottom
              = image_tag 'app-store.svg', height: '50px', width: '170px', class: 'pull-left'
              = image_tag 'google-play.svg', height: '50px', width: '170px', class: 'pull-left'
          = image_tag 'main_content_pc.png',height: '390px', width: '390px', class: 'inner-right'
    .banner-main
      .main__visual__camp
        = image_tag 'banner-camp.jpg', height: '390', width: 'auto', class: 'second-image'
  .pickup-container
    %h2.pickup-head
      ピックアップカテゴリー
      .items-wrapper
        %h3.item-header
          = link_to "レディース新着アイテム",category_path(1),class:"item-header-blue"
        .items-box
          = render partial: 'item',collection: @category_ladies,as: "item"
        .view-all
          = link_to "すべての商品を見る",category_path(1)
      .items-wrapper
        %h3.item-header
          = link_to "メンズ新着アイテム",category_path(2),class:"item-header-blue"
        .items-box
          = render partial: 'item',collection: @category_mens,as: "item"
        .view-all
          = link_to "すべての商品を見る",category_path(2)
      .items-wrapper
        %h3.item-header
          = link_to "ベビー・キッズ 新着アイテム",category_path(3),class:"item-header-blue"
        .items-box
          = render partial: 'item',collection: @category_babies,as: "item"
        .view-all
          = link_to "すべての商品を見る",category_path(3)
      .items-wrapper
        %h3.item-header
          = link_to "コスメ・香水・美容 新着アイテム",category_path(7),class:"item-header-blue"
        .items-box
          = render partial: 'item',collection: @category_cosmes,as: "item"
        .view-all
          = link_to "すべての商品を見る",category_path(7)