.detail-container
  = render partial: "notification_item"
  .main
    %h1.item-name
      = @item.name
    .content
      .item-photo
        .item-photo__top
          = image_tag "#{@image.image.url}", height: '300', width: '300', class: ''
        .item-photo__bottoms
          - @item.images.each do |image|
            = image_tag image.image.url, class: 'item-photo__bottoms__bottom'
      %table{border:"1"}
        %tr
          %th 出品者
          %td
            =link_to "#{@item.seller.nickname}","/#{@item.seller.id}"
            .ratings
              .ratings__set
                = fa_icon 'smile', class: ' fa-smile ratings__set--grin'
                %span.ratings__set__num 100
              .ratings__set
                = fa_icon 'meh', class: 'ratings__set--meh'
                %span.ratings__set__num 200
              .ratings__set
                = fa_icon 'frown', class: 'ratings__set--frown'
                %span.ratings__set__num 300
        %tr
          %th カテゴリー
          %td
            =link_to "#{@item.category.root.name}",category_path(@item.category.root)
            %br
            = fa_icon 'arrow-right', class: 'arrow-color'
            =link_to "#{@item.category.parent.name}",category_path(@item.category.parent)
            %br 
            = fa_icon 'arrow-right', class: 'arrow-color'
            =link_to "#{@item.category.name}",category_path(@item.category)
        %tr
          %th ブランド
          %td
            =link_to @item.brand,"#"
        %tr
          %th 商品の状態
          %td
            = @item.condition.condition
        %tr
          %th 配送料の負担
          %td
            = @item.shipping_payer.payer
        %tr
          %th 配送の方法
          %td
            = @item.shipping_way.way
        %tr
          %th 発送元地域
          %td
            =link_to @item.shipping_address.city,"#",class: "content__cell__item"
        %tr
          %th 発送日の目安
          %td
            = @item.shipping_day.day
    .item-price
      %span.item-price__bold
        = "¥#{@item.price}"
      %span.item-price__tax
        （税込み）
      %span.item-price__shipping
        = @item.shipping_payer.payer    
    -if (user_signed_in? && current_user.id == @item.seller_id)
    -else 
      =link_to "購入画面に進む", confirmation_item_path(@item),class:"item-buy-btn"
    %p.item-description
      = @item.description
    -if (user_signed_in? && current_user.id == @item.seller_id)
    -else
      = render partial: "item-show_btn"
  -if (user_signed_in? && current_user.id == @item.seller_id)  
    = render partial:"item-show_edit-btn"
  %ul.messages
    %li.message
      .message__user
        = image_tag 'anonymous .svg', height: '40', width: '40', class: 'message__user__photo'
      .message__body
        .message__body__text
          出品者がコメントを削除しました。
        = fa_icon 'clock',class:'far fa-clock message__body__time'
        %span.message__body__time
          17時間前
    %li.message
      .message__user
        = image_tag 'anonymous .svg', height: '40', width: '40', class: 'message__user__photo'
      .message__body
        .message__body__text
          出品者がコメントを削除しました。
        = fa_icon 'clock',class:'far fa-clock message__body__time'
        %span.message__body__time
          17時間前
    %p.message__notion
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %form
      %textarea.comment__text
      %button.comment__btn
        コメントする
  -if (user_signed_in? && current_user.id == @item.seller_id)  
  -else 
    = render partial:"item-show_social-btn"
  %section.modalArea
    .modalBg
      .modalWrapper
        .modalContents
          .message 確認
          .text 
            削除すると二度と復活できません。
            %br 
            削除する代わりに停止することもできます
            %br 
            %br 
            本当に削除しますか？
        .modal_btns
          .cancel_btn キャンセル 
          =link_to "削除する",item_path(params[:id]), method: :delete, class:"delete_btn"