.container
  = render 'shared/side_bar'
  %section.mypage-container
    .profile__head 本人情報の入力
    = form_for @user,url: address_update_path do |f|
      .profil__main__content
        .max-width-content
          .input-box
            .input-box__text お名前
            .need-btn 必須
          = f.text_field :family_name, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"      
          = f.text_field :first_name, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可" 
          .input-box
            .input-box__text お名前カナ
            .need-btn 必須
          = f.text_field :family_name_kana, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
          = f.text_field :first_name_kana, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"
          .input-box
            .input-box__text 郵便番号
            .need-btn 必須
          = f.text_field :post_code, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
          -# .input-box
          -#   .input-box__text 都道府県
          -#   .need-btn 必須
          -# .select-wrap
          -#   = fa_icon 'chevron-down' ,class: "chevron-select"
          -#   = f.select :prefecture_id, ["aaaa"] 
          .input-box
            .input-box__text 市区町村
            .need-btn 必須
          = f.text_field :address_city, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
          .input-box
            .input-box__text 番地
            .need-btn 必須
          = f.text_field :address_location, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
          .input-box
            .input-box__text 建物名
            .need-btn--gray 任意
          = f.text_field :address_building, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
          .input-box
            .input-box__text 電話
            .need-btn--gray 任意
          = f.text_field :address_phone, autofocus: true, class: "input-box--input", placeholder: "PC・携帯どちらでも可"           
  
          .red-btn--width-free#mypage-btn
            = f.submit  "変更する"