<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample54c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/category'%>

  <body>

    <%= yield %>

    <style type="text/css">
      #payjp_checkout_box input[type=button]
      {
      width:420px;
      height:40px;
      background-color:#ccc;
      background-image:none;
      border:none;
      color:none;
      color: #333333;
      border-radius:0px;
      text-align: center;
      margin:20px auto;
      -webkit-appearance:none;
      display:inline-block;
      font-size:14px;
      cursor:pointer;
      }
    </style>

  </body>
    <%= render partial: 'layouts/footer' %>

</html>
