<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample54c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

    <%= render partial: 'layouts/header' %>

  <body>

    <%= yield %>

    <style type="text/css">
      #payjp_checkout_box input[type=button]
      {
      width:420px;
      height:40px;
      background-color:#ccc;
      background-image:none;
      border:none;
      color:none;
      color: #333333;
      border-radius:0px;
      text-align: center;
      margin:20px auto;
      -webkit-appearance:none;
      display:inline-block;
      font-size:14px;
      cursor:pointer;
      }
    </style>

  </body>

    <%= render partial: 'layouts/footer' %>

</html>
